
*{
  margin:0;
  padding:0;
  border:0;
  color: whitesmoke;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
}

ul{
  padding-left: 10px;
}

#contacth{
  color: black !important;
  margin-top: 50px !important;
  margin-bottom: 30px;
}

#message{
  height:200px !important;
  vertical-align: top;
}

li{
  padding:2px 0 2px 0;
}

h1, h2{
  font-family: 'Montserrat', sans-serif !important;
  font-size:16px !important;
}

nav{
  border-radius: 0 !important;
}

.footnote{
  display:flex;
  padding-top:16px;
  background: gray !important;
  outline: 0px !important;
  border:0px !important;
}

img{
  border-radius:4px !important;
}

.bricks{
  background: url(img/bricks.jpg);
  background-size:cover;
}

p{
  margin-top:5px !important;
  color: rgb(223, 223, 223);
}

.navbar-header{
  padding-left: 10%;
}


.pbimage{
  width: 100%;
}

#fcc{
  margin:80px 8% 30px 8%;
  width:84%;
}

.col-sm-3{
  padding: 0 !important;
  margin:0;
}

.wall{
  background: url(img/water.jpg);
  background-size:cover;
}

#box11{
  background: url(img/redstonedark1.jpg);
  background-size:cover;
}

#box12{
  background: url(img/redstonedark2.jpg);
  background-size:cover;
}

#box13{
  background: url(img/redstonedark3.jpg);
  background-size:cover;
}

#box14{
  background: url(img/redstonedark4.jpg);
  background-size:cover;
}


#box21{
  background: url(img/bricks.jpg);
  background-size:cover;
}

#box31{
  background: url(img/water.jpg);
  background-size:cover;
}


.tb{
  padding: 1px 10px 0 10px;
  margin:4px;
  border-radius:4px;
  min-height: 340px;

h2{
  color: gray;
}

.inputclass{
  margin-top:10px;
}


