*{
    margin:0;
    padding:0;
    font-family: Lato, sans-serif;
    color: gray;
    font-size: 12px;
}

#bigpicture{
  display: flexbox;
}

body{
  background-color: lightslategray;
  background-size: cover;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: lightgrey;
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
  }
  
.navleft{
    margin-left: 60px;
}

.navright a:hover {
    background-color: gray;
    color:whitesmoke;
  }

.navright{
      float: right;
      width: 100px;
  }

#bigpicture{
      position: relative;
      top: 0px;
      width: 100%;
  }

#trees{
    width: 100%;
  }

h1{
    font-size:12px;
    margin:5px 0 5px 0;
    width: 100%;
    background-color: slategray;
    color:white;
    padding: 0px 20px 0px 20px;
}

p{
    padding:0 20px 0 20px;
}

ul{
    padding:0 20px 0 35px;
}

#aboutwrapper{
  display: grid;
  grid-template-columns: 2.5% 40% 2.5% 52.5% 2.5%;
}

#ab1{
  grid-column: 2 / 3;
}

#ab2{
  grid-column: 4 / 5;
}

#ab3{
  grid-column: 6 / 7;
}

#ab4{
  grid-column: 8 / 9;
}

#projectwrapper{
    display: grid;
    grid-template-columns: 2.5% 30% 2.5% 30% 2.5% 30% 2.5%;
}


.projectbox{
  margin: 10px 0 10px 0;
  background: lightgrey;
  padding: 5%;
}

.projectbox:hover{
  background-color: gray;
  color:whitesmoke;
}

.pbimage{
  width:100%;
}

#pb1{
  grid-column: 2 / 3;
}

#pb2{
  grid-column: 4 / 5;
}

#pb3{
  grid-column: 6 / 7;
}